<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<LinkTo @route="counts" class="counts-link">counts</LinkTo>
<LinkTo @route="dashboard" class="dashboard-link">dashboard</LinkTo>
<LinkTo @route="empty" class="empty-link">empty</LinkTo>
<LinkTo @route="users" class="users-link">users</LinkTo>
<LinkTo @route="items" class="items-link">items</LinkTo>
<LinkTo @route="fetch" class="fetch-link">fetch</LinkTo>
<LinkTo @route="thunk" class="thunk-link">thunk</LinkTo>
<LinkTo @route="actionz" class="actionz-link">action creators</LinkTo>
<LinkTo @route="query-params" class="query-params-link">query-params</LinkTo>
<LinkTo @route="clazz" class="clazz-link">clazz</LinkTo>
<LinkTo @route="clazz-actionz" class="clazz-actionz">clazz actionz</LinkTo>
<LinkTo @route="clazz-factorie" class="clazz-factorie">clazz factorie</LinkTo>
