<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{#link-to 'counts' class='counts-link'}}counts{{/link-to}}
{{#link-to 'dashboard' class='dashboard-link'}}dashboard{{/link-to}}
{{#link-to 'empty' class='empty-link'}}empty{{/link-to}}
{{#link-to 'users' class='users-link'}}users{{/link-to}}
{{#link-to 'items' class='items-link'}}items{{/link-to}}
{{#link-to 'fetch' class='fetch-link'}}fetch{{/link-to}}
{{#link-to 'thunk' class='thunk-link'}}thunk{{/link-to}}
{{#link-to 'actionz' class='actionz-link'}}action creators{{/link-to}}
{{#link-to 'query-params' class='query-params-link'}}query-params{{/link-to}}
